<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments.html :: main-nav"></nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>팀 등록</h2>
        <form class="needs-validation col-sm-12" action="#"
              th:action="@{/football/team/create}" th:object="${teamSaveForm}" method="post" novalidate>
            <div class="form-group">
                <label th:for="league">리그</label>
                <select th:field="*{league}">
                   <option th:each="leagues : ${leagues}"
                            th:text="${leagues.name}"
                            th:value="${leagues}"></option>
                </select>
            </div>
            <div class="form-group">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" class="form-control"
                       placeholder="이름을 입력해주세요." aria-describedby="nameHelp" required minlength="1" maxlength="50">
                <small id="nameHelp" class="form-text text-muted">
                    1글자 이상 50글자 이하로 입력해주세요. 같은리그에 같은이름의 구단은 허용되지 않습니다.
                </small>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">등록하기</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>