<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments.html :: main-nav"></nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>팀 리스트</h2>
    </div>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>리그</th>
            <th>팀이름</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="team : ${teams}">
            <td th:text="${team.getId()}"></td>
            <td th:text="${team.getLeague().getName()}"></td>
            <td th:text="${team.getName()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>